/* Resolusi Handphone ketika browser chrome diresize */
@media (min-width: 499.98px) {
	/* Start Features */

	.features__timeline:before {
		height: 61%;
	} /* Membuat & memberi panjang garis putih */

	/* End Features */
}

/* Resolusi Tablet */
@media (min-width: 767.98px) {
	/* Start Features */

	.features__timeline:before {
		height: 61.2%;
	} /* Membuat & memberi panjang garis putih */

	/* End Features */

	/* Start System */

	.system {
		background-position: -8%;
	}

	.system h1 {
		padding-right: 0;
	}

	/* End System */
}

/* Resolusi Laptop Kecil */
@media (min-width: 991.98px) {
	/* Start Navbar */

	.navbar-brand {
		font-size: 24px;
	}

	.nav-link {
		font-size: 12px;
	}

	/* End Navbar */

	/* Start Header Title */

	.header__title h1 {
		font-size: 72px;
	}

	.header__title h3 {
		font-size: 24px;
		margin: 57px 0;
	}

	/* End Header Title */

	/* Start Gallery */
	.gallery__text {
		margin-top: 254.81px;
		text-align: left;
	}

	.gallery__text h3 {
		font-size: 24px;
	}

	.gallery__text h1 {
		font-size: 56px;
	}

	.gallery__carousel {
		margin: 292px 0;
	}
	/* End Gallery */

	/* Start Features */
	.features {
		background-position: 40%;
		padding: 205.09px 0;
	}

	.features__text {
		text-align: left;
	}

	.features__text h3 {
		font-size: 24px;
		margin-top: 70.09px;
	}

	.features__text h1 {
		font-size: 56px;
		margin-bottom: 70.75px;
	}

	.features__timeline {
		margin-left: -20px;
	} /* Permulaan membuat sebuah timeline */

	.features__timeline:before {
		height: 69.5%;
	} /* Membuat & memberi panjang garis putih */

	.features__timeline li p:nth-child(1) {
		font-size: 24px;
	} /* Mengatur tulisan paragraf pertama dari induk li dalam .features__timeline */

	.features__timeline li p:nth-child(2) {
		font-size: 18px;
	} /* Mengatur tulisan paragraf kedua dari induk li dalam .features__timeline */

	/* End Features */

	/* Start System */

	.system {
		background-position: 90%;
	}

	.system h1 {
		margin-top: 110.29px;
		font-size: 56px;
		line-height: 64px;
	}

	.system table {
		width: 140%;
	}

	.system__table-txt p:first-child {
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 2px;
	}

	.system__table-txt p:last-child {
		font-size: 18px;
		line-height: 22px;
	}

	/* End System */
}

/* Resolusi Laptop Sedang */
@media (min-width: 1279.98px) {
	/* Start Features */

	.features__timeline:before {
		height: 64%;
	} /* Membuat & memberi panjang garis putih */

	/* End Features */
}

/* Resolusi Laptop Besar */
@media (min-width: 1439.98px) {
	/* Start Features */

	.features__timeline {
		margin-left: -25px;
	} /* Permulaan membuat sebuah timeline */

	.features__timeline:before {
		height: 64.5%;
	} /* Membuat & memberi panjang garis putih */

	/* End Features */
}
